<h1>Ultimate Coron Experience</h1>

<% if @current_user.present? %>
<h1>Welcome <%= @current_user.email %></h1>
<% end %>

<%= image_tag "https://www.ultimatecoronexperience.com/wp-content/uploads/2013/12/ABOUT-US-PIC2.jpg" %>
